
@{
    ViewData["Title"] = "AccessDenied";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    <div class="container">
        <h1>Acceso denegado</h1>

        <p>
            Lo sentimos, pero su rol en el sistema no cuenta con los privilegios para acceder a esta función.
        </p>
    </div>
</div>
