@model tema.Controllers.UsuarioController.UsuarioCambioClave

@{
    ViewData["Title"] = "CambiarContrasena";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    * {
        font-family: Arial;
    }
</style>
<link href="~/Plantilla/dist/css/Tablas.css" rel="stylesheet" />
<div class="content-wrapper">
    <div class="container">

        <ol class="breadcrumb" style="border:solid;color:black;background-color: #01386E">
            <li><a asp-controller="Home" asp-action="Index" style="color:aliceblue">Usuarios&nbsp;/&nbsp;</a></li>
            <li><a class="active" style="color:aliceblue">Cambiar contraseña</a></li>
        </ol>

        <h1>Cambiar contraseña</h1>

        <p align="justify">
            Su contraseña debe contener, al menos:
            <ul>
                <li>
                    3 letras minúsculas
                </li>
                <li>
                    2 letras mayúsculas
                </li>
                <li>
                    2 números
                </li>
                <!--<li>
                    Un caracter especial de los siguientes: !&#64;#$&
                </li>-->
                <li>
                    8 caracteres como mínimo y 10 máximo
                </li>
            </ul>
        </p>

        <hr />
        <div class="row">
            <div class="col-md-4">
                <form asp-action="CambiarContrasena">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="contrasenaActual" class="control-label"></label>
                        <input asp-for="contrasenaActual" type="password" class="form-control" />
                        <span asp-validation-for="contrasenaActual" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="nuevaContrasena" class="control-label"></label>
                        <input asp-for="nuevaContrasena" type="password" class="form-control" />
                        <span asp-validation-for="nuevaContrasena" class="text-danger"></span>
                    </div>
                    <input type="submit" value="Cambiar" class="Boton" />&nbsp;|
                    <a asp-controller="Home" class="Boton" asp-action="Index">Volver a la pantalla principal</a>
                </form>
            </div>
        </div>
    </div>
</div>

