@model tema.Models.ViewModels.CitaViewModel

@{
    ViewData["Title"] = "Create";
}
<style>
    * {
        font-family: Arial;
    }
</style>
<link href="~/Plantilla/dist/css/Tablas.css" rel="stylesheet" />
<div class="content-wrapper">

    <div class="container">
        <ol class="breadcrumb" style="border:solid;color:black;background-color: #01386E">
            <li><a asp-controller="Cita" asp-action="Index" style="color:aliceblue">Citas&nbsp;/&nbsp;</a></li>
            <li><a class="active" style="color:aliceblue">Crear cita</a></li>
            @*<li><a href="#">Home</a></li>
                <li><a href="#">Private</a></li>
                <li><a href="#">Pictures</a></li>
                <li class="active">Vacation</li>*@
        </ol>
        <h1>Cita</h1>
        <h4>Crear cita</h4>
        <hr />
        <div class="row">
            <div class="col-md-6">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label class="control-label">Técnico de la cita (el nombre corresponde al código generado por el sistema)</label>
                        @Html.DropDownListFor(x => x.IDTecnico, await tema.Controllers.CitaController.ObtenerListaTecnicos(), "Seleccione una opción", new { @class = "form-control" })
                        <span asp-validation-for="IDTecnico" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Cliente (el nombre corresponde a la cédula registrada en el sistema)</label>
                        @Html.DropDownListFor(x => x.cedulaCliente, await tema.Controllers.CitaController.ObtenerListaClientes(), "Seleccione una opción", new { @class = "form-control" })
                        <span asp-validation-for="cedulaCliente" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="fecha" class="control-label"></label>
                        <input asp-for="fecha" type="date" class="form-control" />
                        <span asp-validation-for="fecha" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="hora" class="control-label"></label>
                        <input asp-for="hora" type="time" class="form-control" /> 
                        <span asp-validation-for="hora" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="asunto" class="control-label"></label>
                        <input asp-for="asunto" class="form-control" />
                        <span asp-validation-for="asunto" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Seleccione la descripción del servicio (si no observa alguna, agregue una en la pantalla principal de <a asp-action="Index">citas</a>)</label>
                        @Html.DropDownListFor(x => x.descripcion, await tema.Controllers.CitaController.ObtenerListaServicios(), "Seleccione una opción", new { @class = "form-control" })
                        <span asp-validation-for="descripcion" class="text-danger"></span>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="citaConfirmada" /> @*@Html.DisplayNameFor(model => model.citaConfirmada)*@ ¿Cita confirmada?
                        </label>
                    </div>

                    <input type="submit" value="Crear" class="Boton" />&nbsp;|
                    <a asp-action="Index" class="Boton">Regresar</a>

                </form>
            </div>
        </div>
     </div>
</div>