@model tema.Models.Cita

@{
    ViewData["Title"] = "Edit";
}
<link href="~/Plantilla/dist/css/Tablas.css" rel="stylesheet" />

<div class="content-wrapper">

    <h1>Edit</h1>

    <h4>Cita</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group" hidden>
                    <label asp-for="IDCita" class="control-label"></label>
                    <input asp-for="IDCita" type="text" class="form-control" />
                    <span asp-validation-for="IDCita" class="text-danger"></span>
                </div>
                <div class="form-group" hidden>
                    <label asp-for="IDTecnico" class="control-label"></label>
                    <input asp-for="IDTecnico" type="text" class="form-control" />
                    <span asp-validation-for="IDTecnico" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="cedulaCliente" class="control-label"></label>
                    <input asp-for="cedulaCliente" class="form-control" readonly />
                    <span asp-validation-for="cedulaCliente" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="fecha" class="control-label"></label>
                    <input asp-for="fecha" type="date" class="form-control" />
                    <span asp-validation-for="fecha" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="hora" class="control-label"></label>
                    <input asp-for="hora" type="time" class="form-control" />
                    <span asp-validation-for="hora" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="asunto" class="control-label"></label>
                    <input asp-for="asunto" class="form-control" />
                    <span asp-validation-for="asunto" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="descripcion" class="control-label"></label>
                    <input asp-for="descripcion" class="form-control" />
                    <span asp-validation-for="descripcion" class="text-danger"></span>
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="citaConfirmada" /> @Html.DisplayNameFor(model => model.citaConfirmada)
                    </label>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

</div>