* {
    margin: 0px;
    font-family: sans-serif;
}

p, li {
    color: white;
} 

.navbar{
    overflow: hidden;
    position: static;
    background-color: black;
}

    .navbar a {
        float: left;
        display: block;
        padding: 14px 20px;
        color: white;
        text-align: center;
        font-weight: bold;
        text-decoration: none;
    }    

.navbar a.right{
    float: right;
}

.navbar a:hover{
    background-color: white;
    color: black;
}

#menu{
    width: 15%;
    min-height: 100vh;
    float: left;
    background-color: black;
}

.elementosMenu {
    color: white;
    font-weight: bold;
    padding: 20px 20px;
    text-decoration: none;
    float: none;
    display: block;
}

    .elementosMenu:hover {
        background-color: white;
        color: black;
    }

.contenedor{
    float: right;
    position: static;
    width: 84.84%;
    height: 99.84vh;
    border: 1px solid red;
}

.tablaDatos{
    margin-top: 20px;
    margin-bottom: 20px;
    border-collapse: collapse;
    width: 100%;
}

.tablaDatos td, .tablaDatos th {
    border: 1px solid black;
    padding: 8px;
}

.tablaDatos tr:hover {
    background-color: #ddd;
}

    .tablaDatos th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: center;
        background-color: #7a7a7a;
        color: white;
    }

.tablaDatos tr:nth-child(even) {
    background-color: #f2f2f2;
}



