@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/estilos/Style.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
    <link rel="import" href="menus">
</head>
<body>
    <div class="navbar">
        <a asp-controller="Master" asp-action="Index">Inicio</a>
        <a href="#" class="right">Cerrar sesión</a>
        <a href="#" class="right">Administración</a>
    </div>

    <div id="menu">
        <a asp-controller="Cliente" asp-action="Index" class="elementosMenu">
            Módulo de clientes
        </a>
        <a href="#" class="elementosMenu">
            Citas programadas
        </a>
        <a href="#" class="elementosMenu">
            Órdenes generadas
        </a>
        <a href="#" class="elementosMenu">
            Histórico del día
        </a>
        <a href="#" class="elementosMenu">
            Bitácora
        </a>
    </div>
    <div class="contenedor">

        @RenderBody()
    </div>
</body>
</html>
