@{
    ViewData["Title"] = "Home Page";
}

    <div class="content-wrapper"><!--Línea que se necesita para aplicar la plantilla a todas las páginas -->
        <img src="~/Imagenes/WhatsApp Image 2020-09-23 at 10.03.19 AM.jpeg" />
        <p>EN PROCESO DE CONSTRUCCIÓN</p>
    </div><!-- /.container-fluid -->