@model tema.Models.ViewModels.UsuarioViewModel

@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    <div class="container">
        <h1>Registrar usuario</h1>

        <p style="text-align: justify; font-family:Arial" >
            A continuación, se le presentan dos formularios: en el primero debe ingresar su correo y la contraseña
            de la misma, ya que el nuevo usuario recibirá una clave generada por el sistema y será enviada por medio
            de la cuenta ingresada en este formulario. Sus datos no serán conservados por ningún elemento del sistema
            por razones de seguridad. <br />
            En el segundo, llenará los campos solicitados para crear a este usuario. Recuerde que, al ser una persona
            que usará el sistema, debe estar registrado en el sistema como un técnico más, así como poseer al menos un
            correo. De lo contrario, no se creará a este usuario.
        </p>

        <h2 style="text-align: justify; font-family:Arial">Formulario para el envío del correo</h2>

        <form asp-controller="Home" asp-action="Register">
            <input asp-for="correoForm" placeholder="Ingrese su correo" />
            <br />
            <br />
            <input asp-for="contra" type="password" placeholder="Contraseña" />
            <br />
            <br />

            <h2 style="text-align: justify; font-family:Arial">Formulario para el registro del nuevo usuario</h2>


            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="correo" style="font-family:Arial" placeholder="Ingrese el correo" />
            <span asp-validation-for="correo"></span>
            <br />
            <br />
            <label asp-for="rol" style="font-family:Arial">Seleccione un rol para el nuevo usuario</label>
            <br />
            <select asp-for="rol">
                <option value="manager">Administrador</option>
                <option value="tecnico">Técnico</option>
            </select>
            <button type="submit" value="Submit" style="text-align: justify; font-family:Arial">Ingresar</button>
        </form>
    </div>
</div>