@model tema.Models.ViewModels.UsuarioViewModel

@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    * {
        font-family: Arial;
    }
</style>
<link href="~/Plantilla/dist/css/Tablas.css" rel="stylesheet" />
<div class="content-wrapper">
    <div class="container">
        <h1>Registrar usuario</h1>

        <p style="text-align: justify; font-family:Arial">
            A continuación, proceda a llenar este formulario para el registro de un nuevo usuario.
        </p>
        <h2 style="text-align: justify; font-family:Arial">Formulario para el registro del nuevo usuario</h2>
        <div class="row">
            <div class="col-md-4">
                <form asp-controller="Home" asp-action="Register">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <input asp-for="correo" style="font-family:Arial" placeholder="Ingrese el correo" class="form-control" />
                        <span asp-validation-for="correo" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="rol" class="control-label" style="font-family:Arial">Seleccione un rol para el nuevo usuario</label>
                        <select asp-for="rol" class="form-control">
                            <option>Seleccione una opción</option>
                            <option value="manager">Administrador</option>
                            <option value="tecnico">Técnico</option>
                        </select>
                        <span asp-validation-for="rol" class="text-danger"></span>
                    </div>
                    <button type="submit" value="Submit" class="Boton" style="text-align: justify; font-family:Arial">Guardar</button>
                </form>
            </div>
        </div>
        <a asp-controller="Home" asp-action="Index" class="Boton">Regresar al inicio</a>
    </div>
</div>