@model tema.Models.ViewModels.UsuarioViewModel

@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    <div class="container">
        <h1>Registrar usuario</h1>

        <p style="text-align: justify; font-family:Arial" >
            A continuación, proceda a llenar este formulario para el registro de un nuevo usuario. 
        </p>

        <h2 style="text-align: justify; font-family:Arial">Formulario para el envío del correo</h2>

        <form asp-controller="Home" asp-action="Register">
            <input asp-for="correoForm" placeholder="Ingrese su correo" />
            <br />
            <br />
            <input asp-for="contra" type="password" placeholder="Contraseña" />
            <br />
            <br />

            <h2 style="text-align: justify; font-family:Arial">Formulario para el registro del nuevo usuario</h2>


            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="correo" style="font-family:Arial" placeholder="Ingrese el correo" />
            <span asp-validation-for="correo"></span>
            <br />
            <br />
            <label asp-for="rol" style="font-family:Arial">Seleccione un rol para el nuevo usuario</label>
            <br />
            <select asp-for="rol">
                <option value="manager">Administrador</option>
                <option value="tecnico">Técnico</option>
            </select>
            <button type="submit" value="Submit" style="text-align: justify; font-family:Arial">Ingresar</button>
        </form>
    </div>
</div>