@model tema.Models.Servicio

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    * {
        font-family: Arial;
    }
</style>
<link href="~/Plantilla/dist/css/Tablas.css" rel="stylesheet" />
<div class="content-wrapper">
    <div class="container">
        <ol class="breadcrumb" style="border:solid;color:black;background-color: #01386E">
            <li><a asp-controller="Servicio" asp-action="Index" style="color:aliceblue">Servicio&nbsp;/&nbsp;</a></li>
            <li><a class="active" style="color:aliceblue">Crear servicio</a></li>
        </ol>
        <h1>Crear</h1>
        <h4>Crear servicio</h4>
        <hr />
        <div class="row">
            <div class="col-lg-4">
                <form asp-controller="Servicio" asp-action="Create">
                    <div class="form-group">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <label class="control-label">Código del vehículo</label>
                        @Html.DropDownListFor(x => x.IDVehiculo, await tema.Controllers.ServicioController.ObtenerLista(), "Seleccione una opción", new { @class = "form-control" })
                        <span asp-validation-for="IDVehiculo" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Descripción del servicio</label>
                        <textarea asp-for="descripcion" cols="40" rows="5" class="form-control"></textarea>
                    </div>
                    <span asp-validation-for="descripcion" class="text-danger"></span>
                    <input type="submit" value="Ingresar" class="Boton" />&nbsp;|
                    <a asp-controller="Cita" asp-action="Index" class="Boton">Regresar</a>
                </form>
            </div>
        </div>
    </div>
</div>

