@model tema.Models.Expediente

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    * {
        font-family: Arial;
    }
</style>
<link href="~/Plantilla/dist/css/Tablas.css" rel="stylesheet" />

<div class="content-wrapper">
    <div class="container">
        <ol class="breadcrumb" style="border:solid;color:black;background-color: #01386E">
            <li><a href="../Expediente/Index" style="color:aliceblue">Inicio&nbsp;/&nbsp;</a></li>
            <li><a class="active" style="color:aliceblue">Actualizar información</a></li>
            @*<li><a href="#">Home</a></li>
                <li><a href="#">Private</a></li>
                <li><a href="#">Pictures</a></li>
                <li class="active">Vacation</li>*@
        </ol>
        <h1>Actualizar expediente</h1>
        <hr />
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group" hidden>
                        <label class="control-label"></label>
                        <input asp-for="IDExpediente" class="form-control" />
                        <span asp-validation-for="IDExpediente" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Descripción:</label>
                        <textarea asp-for="descripcion" cols="40" rows="5" class="form-control"></textarea>
                        <span asp-validation-for="descripcion" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Guardar" class="Boton" />
                    </div>
                </form>
            </div>
        </div>
        <div>
            <a asp-controller="Vehiculo" asp-action="Index" class="Boton">Regresar</a>
        </div>
    </div>
</div>