
@{
    ViewData["Title"] = "NoExisteElExpediente";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    * {
        font-family: Arial;
    }
</style>
<link href="~/Plantilla/dist/css/Tablas.css" rel="stylesheet" />

<div class="content-wrapper">
    <div class="container">
        <ol class="breadcrumb" style="border:solid;color:black;background-color: #01386E">
            <li><a href="../Expediente/Index" style="color:aliceblue">Inicio&nbsp;/&nbsp;</a></li>
            <li><a class="active" style="color:aliceblue">Expediente</a></li>
        </ol>
        <h4>No se ha creado el expediente para este vehículo.</h4>
        <br />
        <a asp-controller="Vehiculo" asp-action="Index" class="Boton">Regresar</a>
    </div>
</div>

